.page-link {
    background-color: transparent !important;
    color: #c9510c;
    border: 1px solid #888;

    &:hover {
        background-color: #eee !important;
        color: #c9510c !important;
        border: 1px solid #888;
    }
}

.page-active {
    background-color: #eee !important;
    color: #c9510c !important;
}